html {
  background: url("https://s3-alpha-sig.figma.com/img/79ec/2aa4/1f25ff669f0b5651525236f4f068d6bd?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=H1EE7QoOd4G7LY3vrlX9zEr4ozA93yFiCmB3WMRhdcByhiRYA9WYAzv1ETXDuJUdjnG~Io1C8vC46NCN7CQIDoAG6DygF5nPTnSKECu8WDO8Lg-YEpJLwurNhbXcilkJ~NZbUwwdXqDSC1vMtRVW4JVZn37qdxAYHmQ8QrMRMVB1MdtuPFsL9~eNxj1gopDUwOiFz8UChhDt4s5QS~MJjSYhVoaRkc05K3ITsKm55cweXRBbEcs2W-oUIe7cua-4P074Dp3mlZX4UPFePvrZ3ba0-tAvKV42~TZxPLXeTi9BZHO-uy~zeQS99PmTzxTAUqevELlpvLCnW1rD9eNHdQ__");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  
}

img.logo{
  position: static;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 72px;
  height: 117px;
  
}

div.content p  {
  padding: 1rem;
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.footer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

div.footer .profile {
  padding: 1rem;
  margin: 0;
  color: white;
}

.profile p {
  margin-top: -20%;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.profile h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.36px;
}
