html {
    background: url("../images/Mental_bg.png") no-repeat fixed center center / cover;;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    font-family: ChulabhornLikitText-Regular;
    overflow: auto;
    display: block;
  }

@font-face {
  font-family: ChulabhornLikitText-Regular;
  src: url(../assets/fonts/ChulabhornLikitText-Regular.otf);
}
  
  img.logo{
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 72px;
    height: 117px;
    
  }
  
  div.content p  {
    padding: 1rem;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  div.footer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    max-width: max-content;
    max-height: max-content;
  }
  
  div.footer .profile {
    padding: 1rem;
    margin: 0;
    color: white;
  }
  
  .profile p {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }
  
  .profile h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.36px;
    
  }

/* Media query for screens smaller than 768px (typical mobile devices) */
@media screen and (min-width: 350px) {
  html { 
    overflow: hidden;
    background-position: top;
    font-size: 20px;
  }
  div.content p {
    font-size: 18px;
  }
  
}

@media screen and (min-width: 768px){
  img.logo{
    width: 108px;
    height: 175.5px;
  }
  div.footer img {
    width: 125px;
    height: 125px;
  }
  div.content p {
    font-size: 20px;
  }
  .profile h1 {
    font-size: 18px;
    line-height: 25px;
  }
  .profile p {
    font-size: 16px;
  }
}


@media screen and (min-width: 1024px){
  div.footer img {
    width: 200px;
    height: 200px;
  }
  img.logo{
    width: 144px;
    height: 234px;
  }
  div.content p {
    font-size: 24px;
    margin: 2rem;
    align-content: center;
  }
  .profile h1 {
    font-size: 24px;
    line-height: normal;
  }
  .profile p {
    font-size: 20px;
  }
}