html {
    background-image: url("../images/Mental_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    font-family: ChulabhornLikitText-Regular;
  }

@font-face {
  font-family: ChulabhornLikitText-Regular;
  src: url(../assets/fonts/ChulabhornLikitText-Regular.otf);
}
  
  img.logo{
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 72px;
    height: 117px;
    
  }
  
  div.content p  {
    padding: 1rem;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  div.footer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  div.footer .profile {
    padding: 1rem;
    margin: 0;
    color: white;
  }
  
  .profile p {
    margin-top: -20%;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }
  
  .profile h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.36px;
    
  }
  