
.appoint-topic {
    border: 1.5px solid;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    height: 53px;
    width: 325px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.appoint-topic h1 {
    font-size: 20px;
}

.appoint-form {
    font-size: 20px;
    padding: 14px;
    color: rgb(0, 0, 0);
    border: 1.5px solid;
    border-color: #00000023;
    border-radius: 20px;
    border-style: solid;
    margin: 1rem;
    background-color: #FFAD4D;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #000000;
}

/* A few custom styles for date inputs */
input[type="date"] {
    color: #ecf0f1;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ffffff;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
    width: 186px;
    height: 30px;
    border-radius: 15px;
    padding-left: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="date"], focus {
    color: #000000;
    
}

.dass21-app-footer .btn {
    text-align: center;
    background-color: #269C58;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: ChulabhornLikitText-Regular;
}

.appoint-form select, .appoint-form textarea {
    font-family: ChulabhornLikitText-Regular;
    font-size: 16px;
    border:1px solid #ecf0f1;
    width: 200px;
    height: 35px;
    border-radius: 15px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.appoint-form input[type = 'tel'], .appoint-form input[type='text'] {
    font-family: ChulabhornLikitText-Regular;
    font-size: 16px;
    border:1px solid #ecf0f1;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.appoint-form input[type='tel']{
    width: auto;
}