
.appoint-topic {
    border: 1.5px solid;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    height: 53px;
    width: 325px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.appoint-topic h1 {
    font-size: 20px;
}

.appoint-form {
    font-size: 20px;
    padding: 14px;
    color: rgb(0, 0, 0);
    border: 1.5px solid;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    margin: 1rem;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}