.finish-content{
    background-color: white;
    width: 375px;
    height: 679px;
    border: 0px ;
    border-radius: 10px;
    margin: 1rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    max-height: 750px;
}

.finish-content img {
    width: 108px;
    height: 108px;
}

.finish-content p {
    color: #8C8C8C;
    font-size: 20px;
    margin-top: -1rem;
}

.finish-content h1 {
    font-size: 36px;
}

.finish-msg {
    align-items: center;
}

@media screen and (max-width:500px) {
    .finish-content{
        width: 250px;
        height: 500px;
    }
    .finish-content p {
        font-size: 16px;
    }
    .finish-content img {
        width: 84px;
        height: 84px;
    }
}