

div {
    margin:1rem auto;
}

input {
    font-family: ChulabhornLikitText-Regular;
    font-size: 16px;
}

.step-2 {
    color: white;
    width: 325px;
    height: 83px;
    border-radius: 20px;
    border-color: white;
    border: 1.5px;
    border-style: solid;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.step-2 h1 {
    font-size: 24px;
    text-align: center;
    line-height: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

.step-2 p {
    font-size: 15px;
    text-align: center;
    line-height: 16px;
    font-weight: lighter;
   
}

.form-fill {
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
    max-width: 360px;
}

.form-fill label {
    text-align: left;
    display: block;
}



::placeholder {
    font-size: 16px;
    font-family: ChulabhornLikitText-Regular;
    font-weight: 400px;
}



.gender ,.age {
    max-width: 150px;
    border-radius: 4px;
    border-color: #F1F1F1;
    line-height: 24px;
    padding-left: 16px;
}

.ioperson {
    width: 24px;
    height: 24px;
    position: absolute;
    box-sizing:border-box;
    margin: 0 1rem;
    display: flex;
    margin-right: 290px;
    margin-top: 16px;
}

.form_uid {
    font-size: 20px;
    color: white;
    max-height: 70px;
}

/* .teleicon {
    width: 16px;
    height: 16px;
    position: absolute;
    box-sizing:border-box;
    top:calc(50%);
    left:45px;
    transform: translateY(-50%);
} */

.gender-age {
    margin: 1rem auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #333333;
}

select.gender {
    max-width: 200px;
    min-width: 110px;
    height: 55px;
    min-height: 55px;
    font-family: ChulabhornLikitText-Regular;
    font-size: 16px;
    padding-left: 50px;
    -webkit-appearance: none;
    appearance: none;
}

select.age {
    max-width: 180px;
    min-width: 110px;
    height: 55px;
    min-height: 55px;
    font-family: ChulabhornLikitText-Regular;
    font-size: 14px;
    -webkit-appearance: none;
    appearance: none;
}

.tel label, .sos-tel label, .email label, .eduLevel label, .secondaryLevel label, .faculty label, .course label{
    padding-left: 28px;
    color: #333333;
}

.email, .tel, .sos-tel, .eduLevel, .secondaryLevel, .faculty, .course {
    font-size: 14px;
    line-height: 17px;
    display: block;
    margin: 1rem auto;
    align-items: center;
}

input.email, input.tel, input.sos-tel{
    width: 290px;
    height: 51px;
    margin-top: 10px;
    padding-left: 16px;

}

input.age {
    width: 149px;
    padding-left: 1rem;
}

.eduLevel select, .secondaryLevel select, .faculty select, .course select{
    width: 311px;
    height: 56px;
    padding-left: 16px;
    margin-top: 10px;
}


.eduLevel select, .gender select, .secondaryLevel select, .faculty select, .course select  {
    font-family: ChulabhornLikitText-Regular;
    font-size: 16px;
}

.eduLevel select::placeholder {
    color: #333333;
}

.tel small, .sos-tel small {
    margin: 0.2rem auto;
    color: #333333;
}

input.tel , input.sos-tel{
    margin-bottom: 0.1rem;
}

.btn-next {
    text-align: center;
    background-color: #269C58;
    color: white;
    width: 138px;
    height: 43px;
    border-radius: 6px;
    gap: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .3s;
}

.btn {
    font-family: ChulabhornLikitText-Regular;
}

.btn-next:hover {
    animation: pulse 1s infinite;
    transition: .3s;
  }

p.field-error, p.error-message {
    font-size: 14px;
    text-align: center;
    color: rgba(255, 0, 0, 0.633);
}

.field-error {
    animation: errorShake 0.4s ease-in-out;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }


@media screen and (max-width: 395px) {
    input.email, input.tel, input.sos-tel {
        width: 290px;
    }
    html { 
        background-position: top;
      }
}

@media screen and (min-width: 425px) {
    html { 
        background-position: top;
      }
}

@media screen and (min-width: 768px){
    img.logo{
      width: 108px;
      height: 175.5px;
    }
    html { 
        background-position: top;
      }
  }

@media screen and (min-width: 1024px){
    img.logo{
      width: 144px;
      height: 234px;
    }
    html { 
        background-position: top;
      }
}