html {
    background: url("../images/Mental_bg.png") no-repeat fixed center center / cover;;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    font-family: ChulabhornLikitText-Regular;
    overflow: auto;
    display: block;
  }

.p3_dass21-content {
    font-size: 20px;
    padding: 14px;
    color: rgb(0, 0, 0);
    border: 1.5px solid;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    margin: 1rem;
    background-color: white;
}

.p3_dass21-footer{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.p3_dass21-footer .btn-next {
  justify-content: end;
  text-align: center;
  background-color: #269C58;
  color: white;
  width: 138px;
  height: 43px;
  border-radius: 6px;
  gap: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.p3_dass21-footer .btn-prev {
    justify-content: start;
    text-align: center;
    background-color: #ebb41d;
    color: white;
    width: 138px;
    height: 43px;
    border-radius: 6px;
    gap: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }