.dass21-result-content {
    font-size: 20px;
    padding: 1rem;
    color: #000;
    border: 1.5px solid white;
    border-radius: 20px;
    margin: 1rem auto;
    /* background-color: #f7f7f7; */
    max-width: 700px;
}

.mental-health {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d62b2b54;
    border: 1.5px solid #d62b2b54;
    border-radius: 20px;
    max-width: 450px;
    height: 80px;
    color: white;
    margin-bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mental-health h1 {
    font-size: 24px;
    font-stretch: 50%;
    border: #000;
}

.mental-health img {
    width: 32px;
    height: 32px;
}

.mental-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfcfc54;
    border: 0px solid white;
    border-radius: 20px;
    min-width: 300px;
    max-width: 500px;
    height: 53px;
    color: white;
    margin-top: 12px;
    padding: 0 10px;
}

.mental-detail {
    animation: myAnim1 1s ease 0s 1 normal forwards;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 500px;
    
}

.result span {
    text-shadow: 1px 1px #000000;
}

.normal {
    background-color: #4caf50;
    color: white;
}

.low {
    background-color: #4caf50;
    color: white;
}

.moderate {
    background-color: #ffc107;
    
}

.high {
    background-color: #f44336;
    color: white;
}

.severe {
    background-color: #f44336;
    color: white;
}

.dass21-result-footer {
    display: flex;
    flex-direction: row;
    padding: 1rem 0.5rem;
    max-width: 400px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
}

/* .dass21-result-footer small {
    font-size: 16px;
    
    padding: 1rem 0.5rem;
    border: 1px solid white;
    border-radius: 10px;
} */

.btn-next {
    font-size: 14px;
}

.dass21-result-content .btn-next,
.dass21-result-footer .btn-close {
    text-align: center;
    color: white;
    width: 138px;
    height: 43px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dass21-result-content .btn-next {
    background-color: #269c58;
    
}

.dass21-result-footer .btn-close {
    background-color: #d62b2b;
}

.btn-close:hover {
    animation: pulse 1s infinite;
    transition: .3s;
  }

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }

@media screen and (max-width: 400px) {
    /* .mental-health, .mental-group {
        width: auto;
    } */
    .mental-detail {
        font-size: 16px;
    }
}

@keyframes myAnim1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media screen and (min-width: 425px) {
    html {
        background-position: top;
    }
}

@media screen and (min-width: 768px) {
    img.logo {
        width: 108px;
        height: 175.5px;
    }
    .mental-group {
        width: 500px;
    }
}

@media screen and (min-width: 1024px) {
    img.logo {
        width: 144px;
        height: 234px;
    }
}
